@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */



table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
   
    font-size: 100%;
    margin:0;
    padding:0;
    
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	 background-image:url("img/final.png");
    background-size: 100% 100%;
    background-size: cover;
}

#paper{
 height:100%;
padding:3%;
 background:#fff;
 }
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 32px;
    
    color:#FFBE1D;
    font-family: Impact , Charcoal,sans-serif;
 
}


h5{
    color:#ededed;
	font-size: 20px;
    font-weight: bold;
  
}
h2{
   /* text-transform: uppercase;*/
	font-size: 20px;
    font-weight: bold;
    color:#827a87;
}
h3{
    color:#46a5a5;

	text-transform: uppercase;
    font-weight: bold;
  
}

.categ{
    text-transform:uppercase;
}
.logo{
  display: block;
  max-width:73px;
  width: auto;
  position: absolute;
  top:8%;
  left:6%;
  height: auto;
}
label{
  font-family: arial,helvetica;
  color:#7f7f7f;
  font-size:18px;
}

.faq{
    color: #ededed  ;
	font-size: 0.9em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
#section1{
    background-image:url("img/back.png");
    background-size: 100% 100%;
    background-size: cover;
}
#section0{
    background-image:url("img/back0.png");
    background-size: 100% 100%;
    background-size: cover;
    
}

.section{
	text-align:center;
}
.answers{
    text-align: left;
}
.curle{

     max-width:70px;
     margin:1%;
     width: auto;
     height: auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
   h5{
    padding-top:2%;
    font-size: 12px;
  }
  .categ{
    font-size: 17px;
  }
   h3{
    font-size: 15px;
  }
   h2{
    font-size: 16px;
  }
  .logo{
  display:none;
  }
  label{
    font-size: 13px;
  }
  .curle{

     max-width:40px;

}
    .header{
    padding-top:20%;
    padding-bottom:2%;
    }
  #section1{

    background-image:url("img/back_s.png");
}}


