@CHARSET "ISO-8859-1";
/* When the radio button is checked, add a blue background 
.container input:checked ~ .checkmark {
  background-color: #909090ff;
    animation-name: example;
    animation-duration: 0.3s;
}*/

