{% load static %}

<!doctype html>


<html lang="en">
<head>
    <meta charset="utf-8">
    {% block title %}
    {% endblock %}
    <meta name="description" content="Political program generator">
    <meta name="author" content="Chesno">

    <link rel="stylesheet" type="text/css" href="{% static 'questionnaire/css/fullpage.css' %}" />
    <link rel="stylesheet" href="{% static 'questionnaire/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'questionnaire/css/styles.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'questionnaire/css/examples.css' %}" />




</head>

<body>
    {% block body %}
      <h1>Ось</h1>
    {% endblock %}

</body>
</html>