{% load static %}
<div class="section" id="section1">
    <img class="marks"src="{% static 'questionnaire/css/img/marks.png' %}" >
     <div class="row" id="mobile_title">
            <div class="col">
                <div class="container" id="party_name">
                    <img class="curle" src="{% static 'questionnaire/css/img/curle1.png' %}">
                    <h1>КОНСТРУКТОР</h1>
                <img class="curle" src="{% static 'questionnaire/css/img/curle2.png' %}"><br>
                    <h1>ПОЛІТИЧНОЇ ПРОГРАМИ</h1>
            </div>
            </div>
        </div>
    {% for key, item in question_answers.items %}
    <div class="slide" >

       <div class="row">
            <div class="col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
                <div class="question">
                    <a href="https://www.chesno.org/"><img class="logo"src="{% static 'questionnaire/css/img/chesno.png' %}" ></a>
                    <h2 class="categ">{{item.category}}</h2>

                    <h3>{{item.subcategory}}</h3><br>
                    <h2 align="left">{{item.question}}</h2>
                    {% if item.answer_type == "radio" %}
                      <h6 class="hint" align="left">Питання з одним варіантом відповіді. Якщо ви не хочете торкатися цього питання у політичній програмі - залиште поля пустими</h6>
                    {% else %}
                      <h6 class="hint" align="left">Питання може мати декілька варіантів відповідей. Якщо ви не хочете торкатися цього питання у політичній програмі - залиште поля пустими</h6>
                    {% endif %}
                    <br>


                 <div class = "answers">
                      {% for answer in item.answers %}
                          <label class="control control--{{item.answer_type}}" for="{{answer.underscore_slug}}"> {{answer.value}}
                              <input  type="{{item.answer_type}}" name="{{item.underscore_slug}}" id="{{answer.underscore_slug}}" value="{{answer.value}}" >
                              <div class="control__indicator"></div>
                          </label>
                      {% endfor %}
                      {% if forloop.last %}
                          <div class ="row">
                                <div class ="col" align="center">
                                    <div style="clear:left;">&nbsp;</div>
                                    <input  type="submit" сlass="btn btn-primary" value="ЗГЕНЕРУВАТИ ПОЛІТИЧНУ ПРОГРАМУ">



                                </div></div>

                     <div class="row">
                                    <div class="col" align="center">
                                 <label class="permissionLabel" for="permission"><input checked id="permission" type="checkbox" name="permission" value="on">
                                     Даю згоду на збереження результатів тесту<b> (обовʼязково, якщо хочеш поділитися своєю програмою у Facebook)</b></label></div></div>

                      {% endif %}

                  </div>
                  </div></div>

        </div>       
    </div>
    <!-- unique -->
        {% if forloop.counter == 20 %}
          <div class="slide" id="slide0">

          <div class="row">
              <div class="col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
                  <div class="question" align="center">
                    <a href="https://www.chesno.org/"><img class="logo"src="{% static 'questionnaire/css/img/chesno.png' %}" ></a>
                  <h8>ТИ МОЖЕШ</h8>
                  <input type="submit" сlass="end" value="ЗАВЕРШИТИ ВЖЕ">
                  <h8>Ви отримаєте програму, хоч вона i не буде повною</h8><br><br>
                  <h8>Але знай, що далі</h8>
                  <h4>ЦІКАВІШІ ПИТАННЯ</h4>
                  <a href="#test/21" class="btn btn-primary">ПРОДОВЖИТИ</a>
                  
                      </div>
               </div>
          </div>
        {% endif %}
    {% endfor %}


</div>



