{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Політична програма</title>
<link rel="shortcut icon" href="{% static 'questionnaire/css/img/favicon.png' %}" type="image/x-icon">
{% endblock %}

{% block body %}

    <div class="container-fluid h-100">
        <div class="row" >
            <div class="col-10 offset-1" id="paper">

                <div class="container" id="party_name">
                    <img class="curle" src="{% static 'questionnaire/css/img/curle1.png' %}">
                <h1 id="id_ostannie_pitannia_iak_budemo_peremagati_v_informatsiinii_viini">Політична програма партії{{party_name}}</h1>
                <img class="curle" src="{% static 'questionnaire/css/img/curle2.png' %}">
            </div>


                {% autoescape off %}
                  {{preamble}}
                {% endautoescape %}

                {% autoescape off %}
                  {{answers}}
                {% endautoescape %}


          </div>
    </div>
  </div>




{% endblock %}