{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Політична програма</title>
<link rel="shortcut icon" href="{% static 'questionnaire/css/img/favicon.png' %}" type="image/x-icon">
{% endblock %}

{% block body %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb">
 <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</div>
    <div class="container-fluid h-100">

        <div class="row" >

            <div class="col-10 offset-1" id="paper">

                <div class="container" id="party_name">
                    <img class="curle" id="finalcurve" src="{% static 'questionnaire/css/img/curle1.png' %}">

                    {% if party_name %}
                        <h1 class="finalTitle" id="id_ostannie_pitannia_iak_budemo_peremagati_v_informatsiinii_viini">Політична програма партії "{{party_name}}"</h1>
                    {% else %}
                        <h1 class="finalTitle" id="id_ostannie_pitannia_iak_budemo_peremagati_v_informatsiinii_viini">Політична програма партії</h1>
                    {% endif %}

                <img class="curle" id="finalcurve1" src="{% static 'questionnaire/css/img/curle2.png' %}">

            </div>


                {% autoescape off %}
                  {{preamble}}
                {% endautoescape %}

                {% autoescape off %}
                  {{answers}}
                {% endautoescape %}


          </div>
    </div>
  </div>




{% endblock %}